<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">

  <title>Tahut</title>
</head>
<style>
  body {
    background-color: #587a9db5
  }

  .flex-container {
    display: flex;
    --background-color: rgb(208, 227, 246);
  }

  .flex-container>div {
    background-color: #fbfbfb;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .navbar-brand.brand {
    color: #b46d0a
  }
</style>

<body>

  <!-- navbar  -->
  <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #465d84; color: #f0f0f0; ">
    <div class="container-fluid">
      <a class="navbar-brand brand" href="https://de.wikipedia.org/wiki/Thot"> Tahut </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text order-md-last">
          <div sec:authorize="isAuthenticated()">
            Hello <span sec:authentication="name"></span>
          </div>
        </span>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/stickers">My Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Events by Group
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li th:each="group : ${myGroupMemberships}">
                <a class="dropdown-item" th:href="@{/stickers(group=${group.getId})}" th:text="${group.getGroupname}"></a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups">Manage Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <!-- end navbar  -->

  <!-- New Sticker Form -->
  <div class="container col-2 card card-body">
    <form action="#" th:action="@{/stickers}" method="POST">
      <div class="mt-3">
        <label class="form-label" for="eventTitle">Title:</label>
        <input class="form-control" type="text" id="eventTitle" name="eventTitle" required>
      </div>
      <div class="mt-3">
        <label class="form-label" for="eventDate">Date:</label>
        <input class="form-control" type="date" id="eventDate" name="eventDate" th:min="${dateToday}" max="2022-12-31"
          required>
      </div>
      <div class="mt-3">
        <label class="form-label" for="eventStartTime">Start Time:</label>
        <input class="form-control" type="time" id="eventStartTime" name="eventStartTime" required>
      </div>
      <div class="mt-3">
        <label class="form-label" for="eventDuration">Duration:</label>
        <select class="form-select" name="eventDuration" id="eventDuration" required>
          <option value="" disabled selected hidden>Please choose...</option>
          <option value="1">1h</option>
          <option value="2">2h</option>
          <option value="3">3h</option>
          <option value="4">4h</option>
          <option value="6">6h</option>
          <option value="8">8h</option>
          <option value="12">12h</option>
          <option value="16">16h</option>
        </select>
      </div>

      <div class="mt-3">
        <label class="form-label" for="eventGroup">Group:</label>
        <select class="form-select" name="eventGroup" id="eventGroup">
          <option value="" selected>Choose group (optional)...</option>
          <span th:each="group : ${myGroupMemberships}">
            <option th:value="${group.getId}" th:text="${group.getGroupname}"></option>
          </span>
        </select>
      </div>

      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <!-- carousel placing  -->
  <div class="container-fluid ">
    <!-- <div class="row "> -->
    <div class="row justify-content-center">
      <div class="col-10 col_carousel text-center rounded shadow-lg">


        <!-- carousel start  -->
        <!--<div class="bd-example">-->
        <div id="months" class="carousel carousel-dark slide" data-bs-interval="false">

          <div class="carousel-indicators">
            <button type="submit" data-bs-target="#months" data-bs-slide-to="0"
              th:class="${currentMonthValue == 1 } ? 'active' : ''" aria-label="January"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="1"
              th:class="${currentMonthValue == 2 } ? 'active' : ''" aria-label="February"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="2"
              th:class="${currentMonthValue == 3 } ? 'active' : ''" aria-label="March"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="3"
              th:class="${currentMonthValue == 4 } ? 'active' : ''" aria-label="April"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="4"
              th:class="${currentMonthValue == 5 } ? 'active' : ''" aria-label="Mai"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="5"
              th:class="${currentMonthValue == 6 } ? 'active' : ''" aria-label="June"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="6"
              th:class="${currentMonthValue == 7 } ? 'active' : ''" aria-label="July"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="7"
              th:class="${currentMonthValue == 8 } ? 'active' : ''" aria-label="August"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="8"
              th:class="${currentMonthValue == 9 } ? 'active' : ''" aria-label="September"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="9"
              th:class="${currentMonthValue == 10 } ? 'active' : ''" aria-label="October"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="10"
              th:class="${currentMonthValue == 11 } ? 'active' : ''" aria-label="November"></button>
            <button type="button" data-bs-target="#months" data-bs-slide-to="11"
              th:class="${currentMonthValue == 12 } ? 'active' : ''" aria-label="December"></button>
          </div>

          <div class="carousel-inner ">

            <!-- January  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 1 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2 ">
                  <div class="card-header">
                    January
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 1}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- February  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 2 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    February
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 2}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- March  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 3 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    March
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 3}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- April  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 4 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    April
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 4}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- May  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 5 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    May
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 5}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- June  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 6 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    June
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 6}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- July  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 7 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    July
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 7}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- August  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 8 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    August
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 8}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- September  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 9 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    September
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 9}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- October  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 10 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    October
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 10}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- November  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 11 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    November
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 11}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- December  -->
            <div class="carousel-item" th:classappend="${currentMonthValue == 12 } ? 'active' : '' ">
              <div class="container col-8">
                <div class="card mt-2 mb-2">
                  <div class="card-header">
                    December
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Title</th>
                          <th scope="col">Time</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="sticker : ${myStickers}" th:if="${sticker.getEventDate.getMonthValue == 12}">
                          <td th:text="${sticker.getEventDate.toLocalDate}"></td>
                          <td th:text="${sticker.getContent}"></td>
                          <td th:text="${sticker.getEventDate.toLocalTime}"></td>
                          <td th:text="${sticker.getDuration}"></td>
                          <td>
                            <div class="btn-group btn-group-sm" role="group">
                              <form action="#" th:action="@{'/stickers/edit/' + ${sticker.id}}" method="get">
                                <button type="submit" class="btn btn-sm btn-outline-warning text-warning">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                  </svg>
                                </button>
                              </form>
                              <form action="#" th:action="@{'/stickers/' + ${sticker.id}}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-outline-danger text-danger">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#months" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#months" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>


          <!-- carousel end  -->

        </div>
      </div>
      <!-- </div> -->
    </div>

  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>