<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">

    <title>Tahut</title> 
  </head>
  <style>
    body {background-color: #587a9db5} 
   
  .flex-container {
  display: flex;
  --background-color: rgb(208, 227, 246);
}

  .flex-container > div {
  background-color: #fbfbfb;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.navbar-brand.brand {
  color:#febe00
}
  
    </style>
  <body>
    
    
    <!-- navbar  -->
    <div class="navbar"  style="background-color: #465d84; color: #f0f0f0 ;  " >
      
      <div class="container-fluid overflow-hidden">
        <div class="col-3 text-start">
            <a class="navbar-brand brand" href="/"  > Tahut   </a>
            
            some text / code left aligned
        </div>
        <div class="col-6 text-center" >
          some text / code - centered  
        </div>
        <div class="col-3 text-end">

          <span class="navbar-text">
            <div sec:authorize="isAuthenticated()">
              Signed in as: <span sec:authentication="name"></span>
            </div> 
          
        </div>
      </div>
    </div>
    <!-- end navbar  -->
    
    <!-- space  -->
    <div class="container-fluid space1 "></div>


        
    
    <!-- carousel placing  -->
    <div class="container-fluid ">
      <!-- <div class="row "> -->
        <div class="row justify-content-center">
          <div class="col-10 col_carousel text-center rounded border  ">
            
            <!-- carousel start  -->
            <!--<div class="bd-example">-->
            <div id="months" class="carousel slide" data-bs-interval="false">
              <div class="carousel-indicators">
                <button type="submit" data-bs-target="#months" data-bs-slide-to="0" th:class="${monthValueNow == 0 } ? 'active' : ''" aria-label="January"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="1" th:class="${monthValueNow == 1 } ? 'active' : ''" aria-label="February"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="2" th:class="${monthValueNow == 2 } ? 'active' : ''" aria-label="March"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="3" th:class="${monthValueNow == 3 } ? 'active' : ''" aria-label="April"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="4" th:class="${monthValueNow == 4 } ? 'active' : ''" aria-label="Mai"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="5" th:class="${monthValueNow == 5 } ? 'active' : ''" aria-label="June"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="6" th:class="${monthValueNow == 6 } ? 'active' : ''" aria-label="July"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="7" th:class="${monthValueNow == 7 } ? 'active' : ''" aria-label="August"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="8" th:class="${monthValueNow == 8 } ? 'active' : ''" aria-label="September"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="9" th:class="${monthValueNow == 9 } ? 'active' : ''" aria-label="October"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="10" th:class="${monthValueNow == 10 } ? 'active' : ''" aria-label="November"></button>
                <button type="button" data-bs-target="#months" data-bs-slide-to="11" th:class="${monthValueNow == 11 } ? 'active' : ''" aria-label="December"></button>
              </div>

              <div class="carousel-inner" >
                <div class="carousel-item" th:classappend="${monthValueNow == 0 } ? 'active' : '' ">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 1 } ? 'active' : '' ">
                                                          
                  <img src="pictures/February.png" width="500" height="150" >
                 
                
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 2 } ? 'active' : '' ">
                   <text x="100%" y="100%" fill="#555" dy=".3em">March</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 3 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">April</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 4} ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">May</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 5 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">June</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 6 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">July</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 7 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">August</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 8 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">September</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 9 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">October</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 10 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">Novemner</text> 
                </div>
                <div class="carousel-item" th:classappend="${monthValueNow == 11 } ? 'active' : '' ">
                  <svg class=""></svg> <text x="100%" y="100%" fill="#555" dy=".3em">December</text> 
                </div>

              </div>
              
              
              <button class="carousel-control-prev" type="button" data-bs-target="#months" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#months" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
                

            <!-- carousel end  -->

          </div>
        </div>
     <!-- </div> -->
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>



